{% extends "index.html" %}
{% block title %}
	Error message
{% endblock %}
		{% block article %}
			<article class="form-wrapper">
				<!-- Validate form with HTML  -->
				<form action="/query" method="post" class="form" name="myForm" >
					<p>{{ message1 }}</p>
					<p>{{ message2 }}</p><br>
					<br>
					<br>
					<a type="button" href="/" class="button">Search</a>
				</form>
			</article>
		{% endblock %}
		</main>
	</div>
	{% block script %}
	<script type="text/javascript" src="{{ url_for('static', filename='ytdata_scripts.js') }}"/></script>
	{% endblock %}
	
</body>
</html>