<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
	<title>{% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='ytdata.css')}}">
</head>
<body>
	<div class="page">
		<section class="side">
			<img class="logo" src="/static/youtube_logo.svg" alt="youtube logo" onclick="home()">
		</section>
		<main class="main">
			<h3>YouTube Search Engine Data Collector<br>
			<span class="h3-light">What are the top results for any youtube search? Find out here!</span>
			</h3>
			<hr>
			{% block article %}
				<article class="form-wrapper">
					<!-- Validate form with HTML  -->
					<form action="/query" method="get" class="form" name="myForm" >
						<label for="">Enter a search</label>
						<input id="query" type="text" name="query" class="input-lrg" maxlength="30" minlength="2" required >
						<label for="">Enter a result number </label>
						<input id="amount" type="number" name="amount" class="input-sml" max="10" minlength="1" required>
						<button type="button" onclick="send()" class="button">Submit</button>
						<button type="button" onclick="reset()"class="button">Reset</button>
					</form>
				</article>
			{% endblock %}
		</main>
	</div>
	{% block script %}
		<script type="text/javascript" src="{{ url_for('static', filename='ytdata_scripts.js') }}"/></script>
		<!-- <noscript> Handles cirmustance in which Javascript is disabled in client's browser   -->
		<noscript><meta http-equiv="refresh" content="1;url=/error.html"></noscript>
	{% endblock %}
	
</body>
</html>
