{% extends "layout.html" %}
{% block title %}
	YouTube Search Data Results!
{% endblock %}
	{% block article %}
		<h4><i>Query: “{{ header['query'] }}” | On: {{ header['date'] }} </i></h4>
		<table class="table">
			<tr class="head">
				{% for column in columnNames %}
					<th class="cell"> {{ column }}  </th>
				{% endfor %}
			</tr>
			
			{% for list in collect %}
				<tr class="row">
				{% for item in list %}
					<td class="cell"> {{ item }} </td>
				{% endfor %}
				</tr>
			{% endfor %}
			<input type="hidden" class="hidden_val" value="{{ fileName }}">
		</table>
		<button type="button" onclick="home()" class="button">Search</button>
		<button type="button" onclick="download()"class="button">Download</button>
	{% endblock %}
