

/* general */


div, section, main, h3 {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	margin: 0 5rem;
	background: #BBEFFF;
	font-family: sans-serif;
}

@media screen and (max-width: 1200px)
{	
	body {
		margin: 0 1.5rem;
		background: white;
	}
}

hr {
	display: block;
	margin-left: 0;
	margin-top: 1rem;
	border: 2px solid #E6E7E8;
	width: 3rem;
}

a {
	text-decoration: none;
}


/* typography */

h3 {
	font-size: 1.5rem;
	margin: 1rem 0;
	line-height: 2rem;
}

h3, label {
	color: #555;
}

h4 {
	color: #555;
}

label {
	font-size: 1.15rem;
	margin-bottom: .25rem;
}

h3 .h3-light {
	font-weight: 200;
}

input {
	font-size: 1rem;
}

/* postitional */
.mt-1 {
	margin-top: 1rem;
}

/* layout */

.page {
	display: flex;
	width: 100%;
	height: 100%;
	background: white;
}

.side {
	display: flex;
	justify-content: center;
	width: 8rem;
	height: 100%;
}
	.side > .logo {
		position: absolute;
		margin-top: 4rem;
		width: 5rem;
		cursor: pointer;
	}

@media screen and (max-width: 700px)
{	
		.side > .logo {
		
			width: 4rem;
		}
}
@media screen and (max-width: 500px)
{	
		.side > .logo {
		
			margin-left: 5.5rem;
		}
}

.main {
	margin: 8rem 4rem 0 1rem;
	height: 100vh;
	width: 100%;
	min-width: 20rem;
}

.form {
	margin-top: 2rem;
}
	
	.form > input, label {
		display: block;
	}

	.form > input {
		border: none;
		padding: .5rem;
		background: #E6E7E8;
		margin-bottom: 2rem;
	}

	.form > .input-lrg {
		width: 15rem;
	}

	.form > .input-sml{
		width: 4rem;
	}

.button {
	font-size: 1.25rem;
	background-color: #777;
	padding: .5rem;
	color: white;
	border-radius: .66rem;
	border: 6px solid #BBEFFF;
	margin-right: .5rem;
	cursor: pointer;
}

.error {
	font-style: italic;
	color: #EA4A1F;
	margin-left: 1rem;
}

.error__amount {
	font-style: italic;
	background-color: #FFFFCC;
	margin-top: 2rem;
	width: max-content;
}


.table {
	border: solid 1px #999;
	/* muy importante*/
	border-collapse: collapse;
	margin: 2rem 0;
}

.row, .head {
	height: 1rem;
}
	.row:nth-child(odd) {
		background: #eee;
	}

	.row > td {
		text-align: left;
	}

	.row > td:first-child {
		text-align: center;
	}
	/* LEARN nth-last-child, last three children, as the n starts with 1, all positive values pass*/
	.row > td:nth-last-child(-n+3) {
		text-align: right;
	}

.cell, .head {
	width: 3rem;
	padding: .5rem;
	border-bottom: solid 1px #999;
	border-right: solid 1px #999;
	border-left: none;
	border-top: none;
}

	.head > th {
		color: #FFFFFF;
		background-color: red;
		text-align: center;
	}

.cell, .cell1, .cell2, .cell3, .cell4., .cell5, .cell6, .cell7, .cell8 {
		display: table-cell;

	}

.cell {
	color: #555;
}
	/* second child*/
	.cell:nth-child(2)  {
		
		width: max-content;
		max-width: 35ch;
	}
	/* third child*/
	.cell:nth-child(3)  {
		
		width: max-content;
		max-width: 16ch;
	}


@media screen and (max-width: 1000px){
	
	.cell5, .cell8 {
		display: none;
	}
}

@media screen and (max-width: 700px){
	
	.cell4, .cell7 {
		display: none;
	}
}


