
/* html selectors ============= */

html {
	background: #BBEFFF;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	margin: 0 5rem;
	background: white;
	font-family: sans-serif;
}

div, section, main, h3 {
	margin: 0;
	padding: 0;
}

hr {
	display: block;
	margin-left: 0;
	margin-top: 1rem;
	border: 2px solid #E6E7E8;
	width: 3rem;
}

a {
	text-decoration: none;
}
	/* typography ============= */

	h3 {
		font-size: 1.5rem;
		margin: 1rem 0;
		line-height: 2rem;
	}

	h3, label {
		color: #555;
	}

	h4 {
		color: #555;
	}

	label {
		font-size: 1.15rem;
		margin-bottom: .25rem;
	}

	h3 .h3-light {
		font-weight: 200;
	}

	input {
		font-size: 1rem;
	}

/* MQ media query html selectors ============= */

@media screen and (max-width: 1200px){	
	
	body {
		margin: 0 1.5rem;
		background: white;
	}
	html {
		background: white;
	}
}

@media screen and (max-width: 500px) {	

	h3 {
		font-size: 1.1rem;
		line-height: 1.7rem;
	}
	
	label {
		font-size: 1rem;
		margin-bottom: .1rem;
	}
}

/* postitional ============= */

.mt-1 {
	margin-top: 1rem;
}

.body {
	position: relative;
	width: 100%;
	margin: 0;
	background: white;
}

/* nav (layout.html) ============= */

.nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 5rem;
	top: 2rem;
}
	.nav > .logo {
		position: relative;
		margin: -2rem 0 0 1rem;
		width: 5rem;
		cursor: pointer;
	}

/* nav__homelink (layout.html) ============= */
	
.nav__homelink--wrapper {
	position: relative;
	margin-top: 0rem;
	width: 8rem;
	height: 4rem;
	z-index: 1;
}
	.nav__homelink--link {
		position: absolute;
		display: flex;
		margin: 0rem 0 0 1rem;
		width: max-content;
		text-decoration: none;
	}
	
	.nav__homelink--rule {
		position: absolute;
		border: 2px solid #BBB;
		margin: 0rem 0 0 3rem;
		width: 3rem;
	}
	
	.nav__homelink--text {
		color: #BBB;
		margin-left: 1rem;
		margin-top: .5rem;
		font-size: .9rem;
		text-decoration: none;
		justify-content: right;
		text-align: right;
	}

/* main  (layout.html) ============= */

.main {
	position: relative;
	margin: 3rem 4rem 0 8rem;
}

/* MQ media query for nav, homelink, main ============= */

@media screen and (max-width: 700px){	
		.main {
			margin: 4rem 2rem 0 2rem;
		}
			
		.nav > .logo {
			width: 4rem;
			margin-left: 1.9rem;
		}
}

@media screen and (max-width: 500px) {	
	
	.main {
		margin: 1rem 1rem 0 1rem;
	}

	.nav > .logo {
		margin-left: .9rem;
	}


	.form > input {
		margin-bottom: 1rem;
	}
}

@media screen and (max-width: 450px) {	

	.main {
		margin: 1rem 1rem 0 1rem;
	
	}
}

/* form (index.html) ============= */
.form {
	margin-top: 1rem;
}
	
	.form > input {
		border: none;
		padding: .5rem;
		background: #E6E7E8;
		margin-bottom: 2rem;
	}
	
	.form > input, label {
		display: block;
	}

	.form > .input-lrg {
		width: 15rem;
	}

	.form > .input-sml{
		width: 4rem;
	}
/* button located in multiple templates*/
.button {
	font-size: 1.25rem;
	background-color: #777;
	padding: .5rem;
	color: white;
	border-radius: .66rem;
	border: 6px solid #BBEFFF;
	margin-right: .5rem;
	cursor: pointer;
}

/* error ============= */

.error {
	font-style: italic;
	color: #EA4A1F;
	margin-left: 1rem;
}

.error__amount {
	font-style: italic;
	background-color: #FFFFCC;
	margin-top: 2rem;
	width: max-content;
}

/* table (query.html) ============= */

.table {
	border: solid 1px #999;
	/* muy importante*/
	border-collapse: collapse;
	margin: 2rem 0;
}

.row, .head {
	height: 1rem;
}
	.row:nth-child(odd) {
		background: #eee;
	}

	.row > td {
		text-align: left;
	}

	.row > td:first-child {
		text-align: center;
	}
	/* nth-last-child, -n + 3 ---last three children, as the n starts with 1, all positive values pass*/
	.row > td:nth-last-child(-n+3) {
		text-align: right;
	}

.cell, .head {
	width: 3rem;
	padding: .5rem;
	border-bottom: solid 1px #999;
	border-right: solid 1px #999;
	border-left: none;
	border-top: none;
}
	.head > th {
		color: #FFFFFF;
		background-color: red;
		text-align: center;
	}

.cell, .cell1, .cell2, .cell3, .cell4., .cell5, .cell6, .cell7, .cell8 {
		display: table-cell;
	}

.cell {
	color: #555;
}
	/* second child*/
	.cell:nth-child(2)  {
		
		width: max-content;
		max-width: 35ch;
	}
	/* third child*/
	.cell:nth-child(3)  {
		
		width: max-content;
		max-width: 16ch;
	}

/* MQ media query for form, error, table ============= */

@media screen and (max-width: 1000px){
	
	.cell5, .cell8 {
		display: none;
	}
}

@media screen and (max-width: 700px){
	
	.cell4, .cell7 {
		display: none;
	}
}

@media screen and (max-width: 500px) {	
	
	.form > input {
		margin-bottom: 1rem;
	}
}


